.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(40, 40, 40);
  height: 50px;
  padding: 0 20px;
}
.footer_items {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}

.item,
.item_dot {
  list-style: none;
  color: rgb(210, 210, 210);
}
.link {
  text-decoration: none;
  color: rgb(210, 210, 210);
  font-size: 0.8rem;
}
.link:hover {
  color: rgb(160, 160, 160);
}
.item_dot {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(210, 210, 210);
}
.rights {
  color: rgb(210, 210, 210);
  font-size: 0.8rem;
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    height: fit-content;
    gap: 40px;
    padding: 20px 20px;
    align-items: center;
  }
  .item_dot {
    display: none;
  }
  .footer_items {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .link {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
}

@media screen and (max-width: 376px) {
  .main {
    align-items: flex-start;
  }

  .footer_items {
    align-items: flex-start;
    gap: 5px;
  }
  .link {
    font-size: 1rem;
  }
}
