.right_box_sub {
  height: 100%;
  background-color: rgb(210, 210, 210);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome {
  font-family: "Tangerine", cursive;
  font-size: 3rem;
}
.description {
  text-align: center;
}
.stats {
  display: flex;
  gap: 20px;
}
.earning {
  padding: 10px;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  background-color: rgb(80, 80, 80);
}
.earning_title {
  font-size: 1.4rem;
  color: rgb(210, 210, 210);
}
.date {
  color: rgb(180, 180, 180);
}
.amount {
  margin-top: 30px;
  font-size: 2rem;
  color: rgb(210, 210, 210);
}

@media screen and (max-width: 1256px) {
  .earning {
    width: 250px;
  }
  .earning_title {
    font-size: 1rem;
  }
  .amount {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1100px) {
  .earning {
    width: 200px;
  }
}
@media screen and (max-width: 956px) {
  .stats {
    flex-direction: column;
  }
  .earning {
    width: 400px;
    height: 100px;
  }
  .amount {
    margin-top: 10px;
  }
}
@media screen and (max-width: 772px) {
  .earning {
    width: 300px;
  }
  .welcome {
    font-size: 2rem;
  }
  .description {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 376px) {
}
